<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> SÜRA </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">SÜRA Image®</div>
    <div class="content">
      <form action="" method="post">
        <div class="user-details">
          {{ form_inputs|safe }}
        <div class="button">
          <input type="submit" value=" Generate! ">
        </div>
      </form>
    <textarea class="input-box">
      Logs:
      {{ logs }}
    </textarea>
    </div>
  </div>

</body>
</html>